{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>List of all blogs</h1>
        <table class="table table-stripped table-bordered table-sm">
            <thead>
                <tr>
                    <th>Author Name</th>
                    <th>Author Email</th>
                    <th>Date published</th>
                    <th>Post title</th>
                    <th>Post content</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for BlogPost in BlogPosts %}
                <tr>
                    <td>{{ BlogPost.author_name }}</td>
                    <td>{{ BlogPost.author_email }}</td>
                    <td>{{ BlogPost.date_published }}</td>
                    <td>{{ BlogPost.post_title }}</td>
                    <td>{{ BlogPost.post_content }}</td>
                    <td>
                        <a href="POST_UPDATE/{{ BlogPost.id }}" class="btn btn-primary">Edit</a>
                        <a href="POST_DELETE/{{ BlogPost.id }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <a href="POST_FORM" class="btn btn-success mx-auto">Create post</a>
                </tr>
            </tfoot>
        </table>

    </body>
</html>